.tooltip {
  line-height: 1;
  padding: 5px;
  background:darkblue;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: left;
}
